body {
  background-color: purple;
}
div {
  background-color: blue;
}
h1 {
  color: white;
}
ol1 {
  color: white;
}
.b {
  background-color: green; 
}
h3 {
  background-color: pink;
}
.a {
  background-color: pink;
}